.cha_0 {
  fill: gainsboro;
}
.cha_1 {
  fill: #f5f79c;
}
.cha_2 {
  fill: #ffe664;
}
.cha_3 {
  fill: #ffd47e;
}
.cha_4 {
  fill: #ffbc7e;
}
.cha_5 {
  fill: #ffa07d;
}
.cha_6 {
  fill: #ff8080;
}
.cha_7 {
  fill: #ff6969;
}
